{% extends 'core/base.html' %}
{% load static %}
{% block title %}
Solicitud nuevo punto de reciclaje
{% endblock title %}
{% block content %}
<!-- Banner -->
<section id="banner">
    <h2>Registro nuevo punto en {{request.user.person.country}} - {{request.user.person.city}}</h2>
</section>
<!-- Main -->
<section id="main" class="container">
    <section class="box special">
        <h2>Ingrese la información de la empresa</h2>
        <!-- Form -->
        <form method="post" id="personForm" data-cities-url="{% url 'registration:ajax_load_cities' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="fit">
        </form>
    </section>
</section>
<script src="{% static 'registration/js/load-cities.js' %} "></script>
{% endblock content %}