{% extends 'core/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<!-- Banner -->
<section id="banner">
	<h2>Home</h2>
	{% if request.user.is_authenticated %}
	<p>Bienvenido {{request.user.username}}</p>
	{% else %}
	<ul class="actions special">
		<li><a href="{% url 'registration:signup' %}" class="button primary">Sign Up</a></li>
		<li><a href="{% url 'registration:login' %}" class="button">Log in</a></li>
	</ul>
	{% endif %}
</section>
<!-- Main -->
<section id="main" class="container">
	<section class="box special">
		<header class="major">
			<h2>Reciclar es importante nos ayuda a todos</h2>
			<p>Aquí puedes encontrar todos los puntos de tu comuna para que podamos ayudar a nuestro planeta.</p>
		</header>
		<span class="image featured"><img src="{% static 'core/css/images/pic01.jpg' %} " alt="" /></span>
	</section>
	<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon major fa-cloud accent2"></span>
				<h3>Guarda tu basura.</h3>
				<p>Hay residuos que duran siglos antes de degradarse, y no son pocas las personas que pasan por alto esto.</p>
			</section>
			<section>
				<span class="icon major fa-trash-o accent3"></span>
				<h3>Separa lo reciclabe de lo que no.</h3>
				<p>No todo lo que consumimos y usamos es posible de reciclar, hay productos que no vuelven a tener vida útil, por lo que es necesario botarlo en la basura y no en cualquier lugar.</p>
			</section>
		</div>
		<div class="features-row">
			<section>
				<span class="icon major fa-recycle accent4"></span>
				<h3>Un nuevo comienzo.</h3>
				<p>A pesar de que no todos reciclamos, del reciclaje han nacido grandes ideas que nos ayudan cada día y quizás no sabemos.</p>
			</section>
			<section>
				<span class="icon major fa-thermometer-three-quarters accent5"></span>
				<h3>Nos afecta a todos.</h3>
				<p>El deterioro de nuestro planeta es inevitable, pero si reciclamos, puede que no ocurra en las fechas esperadas y podamos vivir en el planeta tierra por miles de millones de años más.</p>
			</section>
		</div>
	</section>
</section>
{% endblock content %}